@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2:600&display=swap');
body{
  margin:0;
  padding:0;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align:center;

}
.profil-card{
    width: 205px;
    display: block;
    height: 300px;
    text-align: center;
    box-shadow: 0 2px 75px 17px rgba(0,0,0,.1), 0 10px 10px -37px rgba(0,0,0,.04);
    padding: 8px;
    margin: 18px;
  float:left;
}

.profil-cover{
    display: block;
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}
.profil-cover img{
      width: 7rem;
    display: block;
    float: left;
    margin-left: 8px;
  margin-top:8px;
}

.profil-avatar{
  height:0;
}

.profil-avatar img {
      object-fit: cover;
    object-position: center;
    width: 90px;
    height: 90px;
    border: 5px solid white;
    border-radius: 9999px;
    position: relative;
    top: -33px;
}

.profil-avatar .profil-verifed svg{
      width: 25px;
    border: 3px solid white;
    border-radius: 9999px;
    position: relative;
    top: -72px;
    left: 34px;
    display: inline-block;
}

.profil-content{
      position: relative;
    top: 70px;
    text-align: center;
    color: #ffff;

    i {
      color: yellow;
    }
}

.profil-username{
  font-weight: 700;
    font-size: 18px;
    color: #08141f;
    margin-bottom: 4px;
}

.profil-name{
  margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    color: #0e0000;;
}

.profil-des{
  margin: 0 auto;
    width: 70%;
    margin-top: 14px;
}

hr{
  width: 20%;
    border: 1px solid gray;
    opacity: .5;
    margin: 4% auto;
}
table{
  margin:2% auto;
}
th,td{
      padding-right: 20px;
    padding-left: 20px;
}
