.my-carousel-item {
  height: fit-content;
  background-color: #ffffffdd;
  padding-bottom: 48px;
  h5,p {
    color: black;
  }
  img {
   margin-top: 32px;
  }

    i {
      color: yellow;
    }
}
.carousel-text{
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px 190px;
}
