<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active my-carousel-item ">
      <%= render "components/avatar" ,image: "https://kitt.lewagon.com/placeholder/users/arthur-littm" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Zinab</h5>
        <p>J'utilise principalement lense lorsque j'ai besoin d'un vidéaste indépendant pour un projet ou un événement que je coordonne. Ils ont une énorme base de données de vidéastes qualifiés qui offrent une large gamme de prix et de services. Je ne peux pas les recommander assez!</p>
        <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="carousel-item my-carousel-item  ">
       <%= render "components/avatar",image: "https://kitt.lewagon.com/placeholder/users/arthur-littm" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Le Wagon Casablanca</h5>
        <p>Quelle super application ! Lense nous a aidé à trouver le photographe parfait pour chaque événement. La plateforme est vraiment facile à utiliser et vous pouvez être mis en relation avec des photographes de votre région en quelques minutes. Nous la recommandons à tous ceux qui recherchent un bon photographe !</p>
        <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="carousel-item my-carousel-item ">
       <%= render "components/avatar",image: "https://kitt.lewagon.com/placeholder/users/arthur-littm" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Zakaria</h5>
        <p>J'utilise Lense pour trouver le meilleur vidéaste pour mes besoins depuis plus de 6 mois maintenant. C'est le moyen le plus simple de trouver quelqu'un qui répond à vos critères spécifiques, que ce soit le prix ou l'emplacement. Je suis très heureux de l'aide que cela m'a apportée et je le recommande !
.</p>
        <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
