<div class="wrapper">
  <h1 class="home_titles">Vous avez besoin de visuels ?</h1>
  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://res.cloudinary.com/dncwxfhjw/image/upload/v1637143862/lensens%20/photographe/saffu-b-9PBmDGOHc-unsplash_thygis.jpg)">
						<div class="inner">
							<p>Étape 1</p>
              <span>Pratique</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Pratique,nous avons sélectionné pour vous les meilleurs talent à proximité.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://res.cloudinary.com/dncwxfhjw/image/upload/v1637143854/lensens%20/photographe/maxim-ilyahov-0aRycsfH57A-unsplash_1_anhlx6.jpg)">
						<div class="inner">
							<p>Étape 2</p>
              <span>Simple d’utilisation</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Simple d’utilisation, Réservez votre shooting en un clic.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://res.cloudinary.com/dncwxfhjw/image/upload/v1637143860/lensens%20/photographe/jesse-ramirez-YiSD-1eJ_1g-unsplash_bac8he.jpg)">
						<div class="inner">
							<p>Étape 3</p>
              <span>Efficace</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Efficace,Recevez à pleine vitesse vos visuels traités et prêts à être publiés.</p>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
