<!-- Start video hero -->
<div class="video-hero jquery-background-video-wrapper demo-video-wrapper" style="min-height:85vh">
  <video class="jquery-background-video" autoplay muted loop poster="https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.jpg">
    <source src="https://videos.covideo.com/videos/150482_46868_qryv9vbubk1636974921.mp4" type="video/mp4">
    <source src="https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.webm" type="video/webm">
    <source src="https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.ogv" type="video/ogg">
  </video>
	  <div class="video-overlay"></div>
  	<div class="page-width">
		    <div class="video-hero--content">
          <h2>Lensens</h2>
          <p>IMMORTALISONS  VOS MOMENTS  ENSEMBLES !</p>
          <div class=home_buttons>
            <%= link_to "je suis client", users_path, class: "btn btn-ghost" %>
            <%= link_to "je suis photographe", users_path, class: "btn btn-ghost" %>
          </div>
    		</div>
  	</div>
</div>
<!-- End video hero -->
<div id="content" class="py-3">
	  <div class="page-width">
    		<h3> Vous êtes photographes ou vidéastes à la recherche de nouveaux projets ?</h3>
		    <h3>Vous êtes particuliers ou entreprises à la recherche du meilleur créateur pour vos missions?</h3>
		    <p>Si oui, Lensens est pour vous !</p>
	  </div>
</div>
