<div class="cards">
  <div class="card fill-orange" data-card="0">
    <div class="card__icon" data-icon="1"></div>
    <div class="card__detail">details</div>
  </div>
  <div class="card fill-blue" data-card="1">
    <div class="card__icon" data-icon="2"></div>
    <div class="card__detail">details</div>
  </div>
  <div class="card fill-green" data-card="2">
    <div class="card__icon" data-icon="3"></div>
    <div class="card__detail">details</div>
  </div>
  <div class="card fill-orange" data-card="3">
    <div class="card__icon" data-icon="4"></div>
    <div class="card__detail">details</div>
  </div>
  <div class="card fill-blue" data-card="4">
    <div class="card__icon" data-icon="5"></div>
    <div class="card__detail">details</div>
  </div>
  <div class="card fill-green" data-card="5">
    <div class="card__icon" data-icon="6"></div>
    <div class="card__detail">details</div>
  </div>
</div>
