
<nav>
  <label for="toggle-1" class="btn">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <input type="checkbox" id="toggle-1">

  <ul class="menu">
    <a href="#"><li>about</li></a>
    <a href="#"><li>features</li></a>
    <a href="#"><li>contact</li></a>
    <a href="#"><li>home</li></a>
  </ul>
</nav>

<header>
  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>

  <p class="tagline">Let's immortalize moments together</p>

  <div class="cta">
    <a href="#" class="primary">je suis photographer</a>
    <a href="#" class="secondary">je suis client</a>
  </div>
</header>
