.navbar-lewagon {
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background-color: #aaaaaa77;
  max-height: 78px;
  top:0;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 208px;
  padding-top: 14px;
  padding-bottom: 6px;

}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  margin-left: 12px;
}

/* Hides / Positions Checkbox & label */

input[type=checkbox] {
  opacity: 0;
  float: right;
  z-index: 1
}

label {
  float: right;
  margin: 3px 10px 0 0;
  cursor: pointer;
  z-index: 2;
}

/* Styles Button */

.btn span {
  display: block;
  position: relative;
  width: 28px;
  height: 3px;
  margin: 5px 0;
  background: #fff;
  border-radius: 6px;
  z-index: 1;
}

/* Drop-down Menu Styling */

ul.menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color:rgba(253, 114, 126, 0.6);
  margin: 0 auto;
  padding: 0;
  /*z-index: 0;*/
}

ul.menu a{
  text-decoration: none;
}

ul.menu a:hover {
  display: block;
  background:rgba(196, 60, 159, 0.5);
  padding:10px 0 10px 0
}


ul.menu li {
list-style: none;
padding: 20px;
font-weight: 400;
font-size: 1.2em;
line-height: .7em;
letter-spacing: 2px;
text-align: center;
color: #fff;

}

ul.menu {
  padding-top: 80px;
  padding-bottom: 20px;
}

/* Toggles Button */

input[type=checkbox]:checked ~ ul.menu {
   display: block;
}

/* Hides menu when clicked outside... thanks to @pimskie! */
input[type=checkbox]:checked:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  background: red;
}

.login-link{
color:#fff;
font-weight: 700;
margin-right: 18px;
font-size: larger;
}
